<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>Your request for a mobile pin has been approved, you can now log into the mobile ATN Manager and update the travel status</p>
  <br />
  <p>- The ATN Mobile Manager Application</p>
  </body>
</html>