<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p><b>New mobile pin request from the following user:</b></p>
  <ul>
    <li>User: <%= @user.login -%></li>
    <li>Email: <%= @user.email -%></li>
    <li>Update Line: User.create_pin_for(<%= @user.id -%>)</li>
  </ul>
  </body>
</html>