.overview_img
  = link_to "IMAGE TAG", "#"
  .notes
    Note:  Information presented here applies only to lands owned by the State of Alaska.

.row
  .col-md-6.col-xs-6
    =# render 'status'
  .col-md-6.col-xs-6
    =# render 'status'
.row
  .col-md-6.col-xs-6
    =# render 'status'
  .col-md-6.col-xs-6
    =# render 'status'
