.overview_img
  = link_to image_tag("#{areas_path}/overview.png?size=preview", alt: "Tundra Area Travel Status"),
    "#{areas_path}/overview.png?size=large", target: '_blank'
  .notes
    Note:  Information presented here applies only to lands owned by the State of Alaska.

= render partial: 'area', collection: @areas
