<h1>Welcome to the ATN Manager</h1>

<div class="notice">
  This site is still under construction
</div>
<div class="notice">
  <p>
    If you are using Chrome, Android or an iPhone access the mobile version of the website here: 
    <%= link_to 'http://atn.gina.alaska.edu/m', 'http://atn.gina.alaska.edu/m' -%>
  </p>
</div>