%p
  The Northern Regional Office (NRO) within the Alaska Department of Natural Resources, Division of
  Mining, Land, and Water (DNR/DMLW) is responsible for managing off-road travel on State land
  within the North Slope of Alaska. In 2010, the NRO worked with the Geographic Information
  Network of Alaska (GINA), as part of the Arctic Transportation Network project, to develop a
  mobile application, spatial database, web map service, and website to support the management and
  distribution of tundra travel information to industry, agencies, and the public. With the sunset of
  that project, the DNR/DMLW and GINA began a new effort at the end of 2014 to upgrade the project
  components. This webpage is the result and allows quick access to tundra (off-road) travel conditions on the North Slope.

%p
  The NRO actively monitors snow depth and soil temperatures throughout the winter season to
  determine when to open the tundra to general off-road travel. Monitoring stations are located
  within four tundra opening areas: the Western Coastal, the Eastern Coastal, and the Upper Foothills
  and the Lower Foothills of the Brooks Range. The tundra is opened to off-road travel in the Coastal
  areas when the soil temperature at a depth of twelve inches reaches -5˚C and when there is six (6)
  inches of snow on the ground. In the Foothills areas, tundra opening occurs when the soil
  temperature reaches -5˚C and when there is nine (9) inches of snow on the ground. The date of
  tundra opening has ranged from as early as November 4 to as late as January 27. Once the tundra
  has been opened in the winter, there are no restrictions on the type of vehicles that may operate on
  the tundra, on condition that all other terms and stipulations under a permit, obtained as required
  per the North Slope Special Use Lands designation (ADL 50666), are followed. In years of limited
  snowfall, the tundra may be opened conditionally with specific operating restrictions.

%p
  The tundra is closed when it appears that thawing conditions have resulted in degraded snow pack
  that has lost the structural capacity to support vehicles and may result in damage to the tundra.
  Since data collection began in 1969/1970, the date of tundra closure has ranged from April 21 to
  June 4. In order to avoid significant damage to the tundra environment, no off-road travel except for
  emergency situations is permitted for the period from break-up until July 15 due to saturated soil
  conditions and migratory bird nesting. Permitted summer tundra travel may begin on July 15 and is
  limited to vehicles that have been tested and approved by the DNR/DMLW. The purpose of vehicle
  testing is to determine which vehicles can operate on the tundra during the summer without
  causing damage to the tundra.

%p
  This webpage is updated by members of the Northern Region Oil & Gas Team who conduct almost
  weekly field inspections throughout the winter and spring seasons. If you have any questions,
  please contact the NRO at 907-451-2740 for more information.