<script type="text/javascript">
  ATN.controller = new Ext.ux.EventManager({
    events: ['login', 'back_area', 'email_area', 'save_area', 'edit_area', 'after_area_save','back_message', 'save_message','after_message_save', 'message_update'],
    listeners: {
      scope: ATN,
      'login': function() {
        Ext.Msg.alert('Notice', 'Not Implemented Yet');
      },
      'save_area': function() {
        Ext.ux.Ajax.formSubmit({
          "url": '/areas',
          "form": this.area_form,
          "root": 'area',
          listeners: {
            scope: this,
            success: function(response, options) {
              this.controller.fireEvent('after_area_save');
            }
          }
        });
      },
      'save_message': function() {
        Ext.ux.Ajax.formSubmit({
          "url": '/alerts',
          "form": this.message_form,
          "root": 'alert',
          listeners: {
            scope: this,
            success: function(response, options, results) {
              this.controller.fireEvent('after_message_save', Ext.ModelMgr.create(results.alert, 'Message'));
            }
          }
        });
      },
      'email_area': function(area) {
        Ext.Msg.alert('Notice', 'Not Implemented Yet');
      }
    }
  });

  ATN.message_form = new Ext.form.FormPanel({
    title: 'Message Form',
    url: '/alerts',
    scroll: 'vertical',
    monitorOrientation: true,
    items: [{
      xtype: 'hidden',
      name: 'id'
    },{
      title: 'Message Form',
      xtype: 'fieldset',
      items: [{
        xtype: 'select',
        name: 'area_id',
        label: 'Area',
        store: ATN.AreaStore,
        displayField: 'name',
        valueField: 'id'
      }, {
        xtype: 'toggle',
        name: 'active',
        label: 'Active',
        value: 1
      },{
        xtype: 'textarea',
        name: 'text',
        label: 'Message'
      }]
    },{
      xtype: 'button',
      text: 'Cancel',
      cls: 'buttons',
      handler: function() {
        ATN.controller.fireEvent('back_message');
      }
    }, {
      xtype: 'button',
      text: 'Save',
      ui: 'action',
      cls: 'buttons',
      handler: function() {
        ATN.controller.fireEvent('save_message');
      }
    }]
  });

  ATN.view_message = new Ext.Panel({
    title: 'Message',
    bodyStyle: 'padding: 3px;',
    tpl: new Ext.XTemplate(
      '<tpl for=".">' +
        '<div class="message">' +
          '<p>Area: {area.name}</p>' +
          '<h2>Message:</h2>' +
          '<p class="text">{text}</p>' +
        '</div>' +
      '</tpl>', {
      compile: true
    }),

    dockedItems: [{
      dock: 'top',
      title: 'Message Info',
      xtype: 'toolbar',
      defaults: { ui: 'plain', iconMask: true },
      items: [{
        iconCls: 'arrow_left',
        handler: function() {
          ATN.controller.fireEvent('back_message');
        }
      }, { xtype: 'spacer' }, {
        iconCls: 'compose',
        handler: function() {
          ATN.controller.fireEvent('edit_message');
        }
      }]
    }],
    load: function(record) {
      this.ctxRecord = record;
      var data = record.data;
      this.update(this.tpl.apply(data));
    }
  });


  ATN.login = new Ext.form.FormPanel({
    itemId: 'login',
    title: 'Login',
    url: '/login',
    iconCls: 'user',
    flex: 1,
    items: [{
      xtype: 'fieldset',
      title: 'Enter your Login PIN below',
      items: [{
        xtype: 'passwordfield',
        name: 'pin',
        label: 'PIN'
      }]
    },{
      xtype: 'button',
      text: 'Submit',
      ui: 'action',
      handler: function() {
        ATN.controller.fireEvent('login');
      }
    }]
  });

  <%= render 'area.js.erb' -%>
</script>