<script type="text/javascript">
  ATN.controller = new Ext.ux.EventManager({
    events: ['login', 'back_area', 'save_area', 'after_area_save','back_message', 'save_message','after_message_save', 'message_update'],
    listeners: {
      scope: ATN,
      'login': function() {
        Ext.Msg.alert('Notice', 'Not Implemented Yet');
      },
      'save_area': function() {
        Ext.ux.Ajax.formSubmit({
          "url": '/areas',
          "form": this.area_form,
          "root": 'area',
          listeners: {
            scope: this,
            success: function(response, options) {
              this.controller.fireEvent('after_area_save');
            }
          }
        });
      },
      'save_message': function() {
        Ext.ux.Ajax.formSubmit({
          "url": '/alerts',
          "form": this.message_form,
          "root": 'alert',
          listeners: {
            scope: this,
            success: function(response, options) {
              this.controller.fireEvent('after_message_save');
            }
          }
        });
      }
    }
  });

  ATN.message_form = new Ext.form.FormPanel({
    title: 'Message Form',
    url: '/alerts',
    scroll: 'vertical',
    monitorOrientation: true,
    items: [{
      xtype: 'hidden',
      name: 'id'
    },{
      title: 'Message Form',
      xtype: 'fieldset',
      items: [{
        xtype: 'select',
        name: 'area_id',
        label: 'Area',
        store: ATN.AreaStore,
        displayField: 'name',
        valueField: 'id'
      }, {
        xtype: 'toggle',
        name: 'active',
        label: 'Active',
        value: 1
      },{
        xtype: 'textarea',
        name: 'text',
        label: 'Message'
      }]
    },{
      xtype: 'button',
      text: 'Cancel',
      cls: 'buttons',
      handler: function() {
        ATN.controller.fireEvent('back_message');
      }
    }, {
      xtype: 'button',
      text: 'Save',
      ui: 'action',
      cls: 'buttons',
      handler: function() {
        ATN.controller.fireEvent('save_message');
      }
    }]
  });

  ATN.view_message = new Ext.Panel({
    title: 'Message',
    bodyStyle: 'padding: 3px;',
    tpl: new Ext.XTemplate(
      '<tpl for=".">' +
        '<div class="alert">' +
          '<p>Area: {area.name}</p>' +
          '<h2>Message:</h2>' +
          '<p class="message">{text}</p>' +
        '</div>' +
      '</tpl>', {
      compile: true
    }),

    dockedItems: [{
      dock: 'top',
      title: 'Message Info',
      xtype: 'toolbar',
      defaults: { ui: 'plain', iconMask: true },
      items: [{
        iconCls: 'arrow_left',
        handler: function() {
          ATN.controller.fireEvent('back_message');
        }
      }, { xtype: 'spacer' }, {
        iconCls: 'compose',
        handler: function() {
          ATN.controller.fireEvent('edit_message');
        }
      }]
    }],
    load: function(record) {
      this.ctxRecord = record;
      var data = record.data;
      this.update(this.tpl.apply(data));
    }
  });

  ATN.area_status = new Ext.Panel({
    title: 'Status',
    tpl: new Ext.Template(
      '<div class="area_status">',
        '<h2>Area: {name}</h2>',
        '<div><label>Status: </label><span class="status-{status}">{status}</span></div>',
        '<div><label>Message: </label><span class="message">{message}</span></div>',
      '</div>',
      { compiled: true }
    ),
    load: function(data) {
      this.update(this.tpl.apply({
        name: data.get('name'),
        status: data.get('status'),
        message: 'Testing'
      }));
    }
  });

  ATN.login = new Ext.form.FormPanel({
    itemId: 'login',
    title: 'Login',
    url: '/login',
    iconCls: 'user',
    flex: 1,
    items: [{
      xtype: 'fieldset',
      title: 'Enter your Login PIN below',
      items: [{
        xtype: 'passwordfield',
        name: 'pin',
        label: 'PIN'
      }]
    },{
      xtype: 'button',
      text: 'Submit',
      ui: 'action',
      handler: function() {
        ATN.controller.fireEvent('login');
      }
    }]
  });

  ATN.area_form = new Ext.form.FormPanel({
    id: 'area_editor',
    title: 'Area Editor',
    url: '/areas',
    scroll: 'vertical',
    monitorOrientation: true,
    load: function(data) {
      this.getComponent('status').setTitle(data.get('name'));
      this.getComponent('area-toolbar').setTitle(data.get('name'));
      this.reset();
      this.loadModel(data);
      Ext.each(data.get('messages'), function(message) {
        var item = this.getComponent(message.group).getComponent('message_' + message.id);
        if (item) { item.setValue(true); }
      }, this)
    },
    dockedItems: [{
      itemId: 'area-toolbar',
      dock: 'top',
      title: 'Area Info',
      xtype: 'toolbar',
      defaults: { ui: 'plain', iconMask: true },
      items: [{
        iconCls: 'arrow_left',
        handler: function() {
          ATN.controller.fireEvent('back_area');
        }
      }, { xtype: 'spacer' }, {
        ui: 'action',
        text: 'Save',
        handler: function() {
          ATN.controller.fireEvent('save_area');
        }
      }]
    }],
    items: [{
      xtype: 'hidden',
      name: 'id'
    },{
      itemId: 'status',
      title: 'Area name here',
      xtype: 'fieldset',
      items: [{
        xtype: 'select',
        name: 'travel_status',
        label: 'Travel Status',
        options: [
          { text: 'Open', value: 'Open' },
//        { text: 'Limited', value: 'Limited' },
          { text: 'Closed', value: 'Closed' }
        ]
      }, {
        xtype: 'textarea',
        name: 'notes',
        label: 'Notes'
      }]
    },{
      itemId: 'soil',
      title: 'Soil Status',
      xtype: 'fieldset',
      items: [
        <%= Message.soil.collect { |m| message_checkbox(m).to_s }.join(',') %>
      ]
    },{
      itemId: 'snow',
      title: 'Snow Status',
      xtype: 'fieldset',
      items: [
        <%= Message.snow.collect { |m| message_checkbox(m).to_s }.join(',') %>
      ]
    },{
      itemId: 'operational',
      title: 'Operational Considerations',
      xtype: 'fieldset',
      items: [
        <%= Message.operational.collect { |m| message_checkbox(m).to_s }.join(',') %>
      ]
    },{
      itemId: 'alert',
      title: 'Alerts',
      xtype: 'fieldset',
      items: [
        <%= Message.alert.collect { |m| message_checkbox(m).to_s }.join(',') %>
      ]
    }]
  });
</script>