.row
  .col-sm-6.col-sm-offset-3
    - if can? :manage, @area
      = link_to edit_area_path(@area), class: 'btn btn-primary pull-right' do
        %i.fa.fa-inverse.fa-edit
        Edit

    = render @area
