.row
  .col-md-6.col-md-offset-3
    - if can? :manage, @area
      %p
        = link_to edit_area_path(@area), class: 'btn btn-primary btn-block' do
          %i.fa.fa-inverse.fa-edit
          Edit

    = render @area
