<div class="documentation">

<h1>Overview Images</h1>
<ul>
  <li>Provides an overview image for all the travel area status, background image is a
    Landsat-pan image with green and red polygons to represent the open and closed travel areas.<br />
    Overview images are automatically refreshed whenever a travel area status is changed.</li>
  <li>URL: http://atn.gina.alaska.edu/areas/overview.{png|jpg}(?size={small|medium|large|preview})</li>
  <ul>
    <li><i>format</i>: <b>[REQUIRED]</b> The overview image is available as either a PNG or JPG image.</li>
    <li><i>size</i>: Several size options are available, defaults to medium if no size is specified.
      <ul>
        <li>small: 300x200</li>
        <li>medium: 800x600</li>
        <li>large: 1600x1200</li>
        <li>preview: 550x300</li>
      </ul>
    </li>
  </ul>
  <li>Example: <%= link_to 'http://atn.gina.alaska.edu/areas/overview.png?size=preview','http://atn.gina.alaska.edu/areas/overview.png?size=preview' -%></li>
</ul>

<h1>Available REST Endpoints</h1>

<ul>
  <li>Area Status List: http://atn.gina.alaska.edu/areas.(format)?(callback=callback_function_name) </li>
  <ul>
    <li>Required parameters</li>
    <ul>
      <li><i>format</i>: Specify the format the data should be return in, valid options are XML and JSON</li>
    </ul>
    <li>Optional parameters</li>
    <ul>
      <li><i>callback=callback_function_name</i>: <b>Only applies to JSON requests.</b><br />
        Specify a callback function to allow cross site requests, where callback_function_name is a javascript function defined by the requesting site.</li>
    </ul>
    <li>Example URLs</li>
    <ul>
      <li><%= link_to 'http://atn.gina.alaska.edu/areas.xml', 'http://atn.gina.alaska.edu/areas.xml' -%></li>
      <li><%= link_to 'http://atn.gina.alaska.edu/areas.json','http://atn.gina.alaska.edu/areas.json' -%></li>
      <li><%= link_to 'http://atn.gina.alaska.edu/areas.json?callback=loadJsonData','http://atn.gina.alaska.edu/areas.json?callback=loadJsonData' -%></li>
    </ul>
  </ul>
</ul>
</div>
