.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      =link_to "TTN Travel Status", root_url, class: 'navbar-brand'
      %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '#navbar-menu'}}
        %span.sr-only 'Toggle Nav'
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #navbar-menu.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user.admin?
          %li= link_to "Admin", admin_users_path
        %li= mail_to 'support+ttn@gina.alaska.edu', "Contact Us"
        %li= link_to "About", page_path(:about)
        %li= render 'layouts/login'
