<!DOCTYPE html>
<% if Rails.env.production? -%>
<html manifest="m.manifest">
<% else -%>
<html>
<% end -%>
<head>
<meta charset="utf-8">
<title>ATN Manager</title>
<%= stylesheet_link_tag("/sencha/resources/css/atn.css") %>
<%= javascript_include_tag("/sencha/sencha-touch#{Rails.env.production? ? '' : '-debug'}.js", 'touch.js', :cache => 'cache/touch') %>
</head>
<body>
  <%= yield %>
</body>
<% mobile = Dir.glob('public/javascripts/mobile/**/*.js').collect { |f| f.gsub('public/javascripts/', '') } -%>
<%= javascript_include_tag(mobile, :cache => 'cache/atn') %>
</html>
